<ol class="flex items-center text-gray-500 font-semibold dark:text-white-dark">
    <li *ngFor="let item of items; let last = last" class="flex items-center">
        <ng-container *ngIf="!item.active; else activeBreadcrumb">
            <a [routerLink]="item.link" [ngClass]="{'text-primary': item.active, 'hover:text-gray-600 dark:hover:text-white-dark/70': !item.active}"
               class="transition-colors duration-300 ease-in-out">
                {{ item.label | translate }}
            </a>
            <ng-container *ngIf="!last">
                <span class="mx-2 before:w-1 before:h-1 before:rounded-full before:bg-primary before:inline-block before:relative before:-top-0.5"></span>
            </ng-container>
        </ng-container>
        <ng-template #activeBreadcrumb>
            <span class="text-primary">{{ item.label | translate }}</span>
        </ng-template>
    </li>
</ol>
